@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Playfair+Display:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Gravitas+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  background-color: white;
}

.TheSeason {
  font-family: "Playfair Display", serif;
}
.playfair {
  font-family: "Playfair Display", serif;
}
.Bona {
  font-family: "Playfair Display", serif; 
}

@font-face {
  font-family: 'frunchy';
  src: url('./assets/Fonts/frunchy/frunchy.ttf') format('truetype');
}

@font-face {
  font-family: 'chloe';
  src: url('./assets/Fonts/chloe/chloe.otf') format('opentype');
}

@font-face {
  font-family: 'perandory';
  src: url('./assets/Fonts/perandory/perandory.otf') format('opentype');
}

@font-face {
  font-family: 'Font';
  src: url('./assets/Fonts/Font.otf') format('opentype');
}

.frunchy {
  font-family: 'frunchy', sans-serif;
}
.chloe {
  font-family: 'chloe', sans-serif;
}
.font {
  font-family: 'Font', sans-serif;
}
.perandory {
  font-family: 'perandory', sans-serif;
}
